body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f4f4f4, rgba(87, 77, 170, 0.25));
}
h1 {
    text-align: center;
    background-color: #6222DA;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

#submitBtn {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6222DA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#submitBtn:hover {
    background-color: #2A22DA;
}

#display{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#text{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.view{
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6222DA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.view:hover{
    background-color: #2A22DA;
}

#viewBtn{
    display: inline;
}
.checkmark {
    font-size: 24px; 
    color: green; 
    display: none;
    margin-left: 200px;
    position: relative;
    top: -40px;
}
.crossmark{
    font-size: 24px; 
    color: red; 
    display: none;
    margin-left: 200px;
    position: relative;
    top: -40px;
}





